<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Suhana <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">AIML Trainee| AI/ML bootcamp</span> <!--- Suhana  | CodroidHub Private Limited | AI/ML Consultant --->
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    Data Structure in python <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

<h2><b>What is Data Structure?<b></h2>
<h3><p>A data structure in python is a way of organizing,storing,and managing data so it can be accessed and modified efficiently.<p></h3>

<div style="background-color: white; color: black; padding: 10px;">
    <h1><b>TYPES OF DATA STRUCTURE</b></h1> <p><p>
  <h1><p><b>1.LIST</b><p> 
  <p><b>2.TUPLES<B><P>
  <p><b>3.DICTIONARIES<b><P>
  <p><b>4.SETS<b><P>
</h1> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h1>1.LIST 
</h1> </div>

<h3><p>A list in python is a built-in data-structure that allows you to store an ordered,mutable(modifiable),duplicates collection of items.Lists can be contain elements of diffrent data types,including numbers,string,and even other lists.<br><br>List items are indexed,the first item has index[0],the second item has index [1] etc.<p></h3>

In [1]:
list=["apple","mango","banana"]
print(list)

['apple', 'mango', 'banana']

<h1>Ordered</h1>
<h3><p>When we say that lists are ordered, it means that the items have a defined order, and that order will not change.If you add new items to a list, the new items will be placed at the end of the list.<br><p></h3>

In [29]:
list=["mango","banan","kiwi"]
list.insert(2,"orange")
print(list)

['mango', 'banan', 'orange', 'kiwi']

<h1>Changeable</h1>
<h3><p>The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.<p></h3>

In [19]:
list=["apple","mango","banana"]
list[2]="cheery"
print(list)

['apple', 'mango', 'cheery']

In [20]:
list=["apple","mango","banana","cherry","kiwi"]
list[1:3]=["red","orange","blue"]
print(list)

['apple', 'red', 'orange', 'blue', 'cherry', 'kiwi']

<h1>Allow Duplicates</h1>
<h3><p>Since lists are indexed, lists can have items with the same value.<p></h3>

In [3]:
list = ["apple", "banana", "cherry", "apple", "cherry"]
print(list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

<h1>List Length</h1>
<h3><p>To determine how many items a list has, use the len() function.<p></h3>

In [6]:
list = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(list))

5

<h1>List items-Data Types</h1>
<h3><p>List items can be of any data type.<p></h3>

In [10]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list3)

[True, False, False]

<h1>Acess items</h1>
<h3><p>List items are indexed and you can access them by referring to the index number.</h3<p>

In [11]:
list = ["apple", "banana", "cherry"]
print(list[1])

banana

<h2>Negative indexing</h2>
<h3><p>-1 refers to the last item, -2 refers to the second last item etc<p></h3>

In [12]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

<h2>Range of index<h2>

In [15]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[2:5])

['cherry', 'orange', 'kiwi']

In [16]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[ :4])

['apple', 'banana', 'cherry', 'orange']

In [17]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[ 2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

<h1>Methods of list<h1>

<h1>Append</h1>
<p><h4>Add item end of the list</h4><p>

In [33]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list.append("black")
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'black']

<h1>Extend</h1><p><h4>Extend function is used to add multiple elements from another iterable (like a list,tuple,or set)to the end of existing list.</h4><p>

In [34]:
list1=[1,2,3]
list2=[4,5,6]
list.extend(list2)
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'black', 4, 5, 6]

In [37]:
list1=[1,2,3]
tuple1=(4,5)
list1.extend(tuple1)
print(list1)

[1, 2, 3, 4, 5]

<h1>Insert</h1><p><h4>Adds an element at the specified position</h4><p>

In [38]:
list=[1,2,3,4,5,6]
list.insert(4,"black")
print(list)

[1, 2, 3, 4, 'black', 5, 6]

<h1>remove</h1><p><h4>Removes the item with the specified value</h4><p>

In [40]:
list=[1,2,3,4,"black",5,6]
list.remove("black")
print(list)

[1, 2, 3, 4, 5, 6]

<h1>pop</h1><p><h4>Removes the element at the specified position</h4><p>

In [44]:
list=[1,2,3,"black",5,6]
list.pop(2)
print(list)

[1, 2, 'black', 5, 6]

<h1>index</h1><p><h4>Returns the index of the first element with the specified value</h4><p>

In [49]:
list=[1,2,3,2,4,5,6,4,2,32]
index_value=list.index(3,1,3)
print(index_value)

2

<h1>Counts</h1><p><h4>Returns the number of elements with the specified value<p></h4>

In [52]:
list=[1,2,3,2,2,2,4,5,6,]
count_value=list.count(2)
print(count_value)

4

<h1>sort</h1><p><h4>Sorts the list</h4><p>

In [54]:
list=[1,5,6,2,3]
list.sort(reverse=True)
print(list)
list.sort(reverse=False)
print(list)

[6, 5, 3, 2, 1]
[1, 2, 3, 5, 6]

<h1>reverse</h1><p><h4>Reverses the order of the list</h4><p>

In [55]:
list=["red","black","pink"]
list.reverse()
print(list)

['pink', 'black', 'red']

<h1>copy</h1><p><h4>Returns a copy of the list</h4><p>

In [56]:
list=["red","black","pink"]
list.copy()
print(list)

['red', 'black', 'pink']

In [59]:
original_list=[1,2,3]
copied_list=original_list.copy()
copied_list.append(4)
print(copied_list)
print(original_list)

[1, 2, 3, 4]
[1, 2, 3]

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h1>2.TUPLE
    </h1> </div>

<h3>Tuples are used to store multiple items in a single variable.<p>A tuple is a collection which is ordered and unchangeable.allow duplicate values<p>
<p>Tuples are written with round brackets.<p><p>Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

><p></h3>

In [1]:
tuple=("apple","mango","banana")
print(tuple)

('apple', 'mango', 'banana')

<h1>Ordered</h1>
<p><h3>It means that the item have a define order and that order will not change</h3><p>

<h1>Unchangeable</h1>
<h3><p>Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.<p></h3>

<h1>Allow Duplicate value</h1>
<h3><p>Since tuples are indexed, they can have items with the same value.<p></h3>

In [3]:
tuple=("apple","mango","kiwi","apple")
print(tuple)

('apple', 'mango', 'kiwi', 'apple')

<h1>Tuple Length</h1>
<p><h3>To determine how many items a tuple has, use the len() function.</h3><p>

In [4]:
tuple=("apple","mango","kiwi","apple")
print(len(tuple))

4

<h1>Tuple Items-Dta Types</h1>
<h3><p>Tuple items can be of any data type.<p></h3>

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple3)
tuple4=("appple",6,True)
print(tuple4)

(True, False, False)
('appple', 6, True)

<h1>type</h1>

In [8]:
tuple1 = ("apple", "banana", "cherry")
print(type(tuple1))

<class 'tuple'>

<h1>Acess Tuple items</h1>
<p><h3>You can access tuple items by referring to the index number, inside square brackets.<p></h3>

In [9]:
tuple=("apple","mango","kiwi","banana")
print(tuple[2])

kiwi

<h1>Negative Indexing</h1>
<p><h3>Negative indexing means start from the end.</h3><p><p><h3>-1 refers to the last item, -2 refers to the second last item etc.</h3><p>

In [10]:
tuple=("apple","mango","kiwi","banana")
print(tuple[-2])

kiwi

<h1>Range of indexes</h1>
<p><h3>You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.<p></h3>

In [13]:
tuple=("apple","mango","kiwi","banana","orange","papaya")
print(tuple[2:4])

('kiwi', 'banana')

In [14]:
tuple=("apple","mango","kiwi","banana","orange","papaya")
print(tuple[ :4])

('apple', 'mango', 'kiwi', 'banana')

In [15]:
tuple=("apple","mango","kiwi","banana","orange","papaya")
print(tuple[2: ])

('kiwi', 'banana', 'orange', 'papaya')

In [17]:
tuple=("apple","mango","kiwi","banana","orange","papaya")
print(tuple[-1:-5])

()

<h1>Add tuple to tuple</h1>

In [23]:
tuple1=("apple","mango","banana")
tuple2=("kiwi",)
tuple1 += tuple2
print(tuple1)

('apple', 'mango', 'banana', 'kiwi')

In [ ]:
<h1>Loop through tuple</h1>
<h3><p>You can loop through the tuple items by using a for loop.<p></h3>

In [27]:
tuple=("apple","mango","banana")
for x in tuple:
  print(x)

apple
mango
banana

In [28]:
tuple = ("apple", "banana", "cherry")
for i in range(len(tuple)):
  print(tuple[i])

apple
banana
cherry

<h1>Methods of tuple</h1>
<p><h3>Returns the number of times a specified value occurs in a tuple</h3><p>

<h1>count</h1><h4>Returns the number of times a specified value occurs in a tuple</h4>

In [1]:
tuple = (1,2,2,2,2,2,3,3,3)
count=tuple.count(2)
print(count)

5

<h1>index</h1>
<h4><p>Searches the tuple for a specified value and returns the position of where it was found<p></h4>

In [2]:
tuple = (1,2,3,4,5,6,7)
index=tuple.index(4)
print(index)

3

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h1>3.SETS
    </h1> </div>

<h3><p>Sets are used to store multiple items in a single variable.<p>A set is a collection which is unordered, unchangeable*, and unindexed.do not allow duplicates values<p><p>Sets are written with curly brackets.<p></h3>

In [2]:
set={"apple","mango","banana","kiwi"}
print(set)

{'banana', 'kiwi', 'apple', 'mango'}

<h1>Unordered</h1>
<h4><p>Unordered means that the items in a set do not have a defined order.<p>
<p>Set items can appear in a different order every time you use them, and cannot be referred to by index or key.<p></h4>

<h1>Unchangeable</h1>
<h3><p>Set items are unchangeable, meaning that we cannot change the items after the set has been created.<p></h3>

<h1>Do not Allow Duplicate value</h1>
<p><h3>Sets cannot have two items with the same value.</h3><p>

In [4]:
set = {"apple", "banana", "cherry", "apple"}
print(set)

{'banana', 'apple', 'cherry'}

In [5]:
#True and 1 is considered the same value
set = {"apple", "banana", True, 1,2}
print(set)

{'banana', True, 2, 'apple'}

In [7]:
set = {"apple", "banana", False, 0,1}

print(set)

{'banana', False, 'apple', 1}

<h1>Set Length</h1>

In [8]:
set = {"apple", "banana","kiwi","orange"}
print(len(set))

4

<h1>Set items Data-Types</h1>
<h3><p>Set items can be of any data type.<p></h3>

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set3)

{False, True}

<h1>Type</h1>

In [10]:
set1 = {"apple", "banana", "cherry"}
print(type(set1))

<class 'set'>

<h1>Acess items</h1>
<h3><p>You cannot access items in a set by referring to an index or a key.<p>
<p>But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.<p></h3>

In [12]:
set1 = {"apple", "banana", "cherry"}
for x in set1:
    print(set1)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}

In [13]:
set1 = {"apple", "banana", "cherry"}
print("banana" in set1)

True

<h1>Methods of set</h1>

<h1>add</h1>
<p<<h3>Adds an element to the set</h3><p>

In [14]:
set={1,2,3}
set.add("black")
print(set)

{1, 2, 3, 'black'}

<h1>clear</h1>
<p><h3>Removes all the elements from the set</h3><p>

In [15]:
set={1,2,3}
set.clear()
print(set)

set()

<h1>Returns a copy of the set</h1>
<h3><p>Returns a copy of the set<p></h3>

<h1>diffrence</h1>
<h3><p>Returns a set containing the difference between two or more sets<p></h3>

In [17]:
set1={1,2,3,"pink"}
set2={1,4,"black",2}
diffrence=set1-set2
print(diffrence)

{3, 'pink'}

<h1>diffrence update</h1>
<h3><p>Removes the items in this set that are also included in another, specified set<p></h3>

In [18]:
set1 = {1, 2, 3, "fun"}
set2 = {2, 3, 4}
set1.difference_update(set2)  
print(set1)

{1, 'fun'}

<h1>discard</h1>
<h3><p>Remove the specified item<p></h3>

In [19]:
set = {"apple", "banana", "cherry"}
set.discard("banana")
print(set)

{'apple', 'cherry'}

<h1>intersection</h1>
<h3><p>The intersection() method will return a new set, that only contains the items that are present in both sets.<p></h3>

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

<h1>pop</h1>
<h3><p>Remove a random item by using the pop() method.<p></h1>

In [25]:
set = {"apple", "banana", "cherry"}
x = set.pop()
print(x)
print(set)

banana
{'apple', 'cherry'}

<h1>remove</h1>
<h3><p>Removes the specified element<p></h3>

In [26]:
set = {"apple", "banana", "cherry"}
set.remove("banana")
print(set)

{'apple', 'cherry'}

<h1>Symmetric diffrence</h1>
<h3><p>Returns a set with the symmetric differences of two sets<p></h3>

In [27]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

<h1>union</h1>
<h3><p>Return a set containing the union of sets<p></h3>

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple","cherry"}
set3=set1.union(set2)
print(set3)

{'banana', 'cherry', 'microsoft', 'apple', 'google'}

<h1>Update</h1>
<h3><p>The update() method inserts the items in set2 into set1.<p></h3>

In [33]:
set1={1,2,3,4}
set2={1,3,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
    </h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<!--- Mohammad Idrees Bhat | Mohammad Idrees Bhat --->

<h2 style="background-color: #ffe4e1; color: #2f4f4f; padding: 10px; border-radius: 10px; width: 350px; text-align: center; float: right; margin: 20px 0;">
    suhana<br>
    <span style="font-size: 12px; color: #696969;">
       AIML Trainee | CodroidHub Private Limited | AI/ML bootcamp
    </span>
</h2>